<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Course Sign Up</title>

    <meta name="viewport" learningContent="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div>This will be replaced by navbar fragment...</div>
<div class="container">
    <!--Make a table and let the user which columns he wants to see + checkbox for each row-->
    <!--Display only courses for which the student didn't yet sign up-->
    <h1>Sign Up for courses</h1>

    <h3>Please select which courses you would like to sign up for.</h3>
    <form action="#" th:action="@{/courses/submit-sign-up}" method="post">
        <div>
            <label>First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required="true"/>
        </div>
        <div>
            <label>Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required="true"/>
        </div>
        <div class="custom-controls-stacked">
            <!--<label>Courses</label><br/>-->
            <label class="custom-control custom-checkbox" th:unless="!coursesList.empty"
                   th:each="course : ${coursesList}">
                <input type="checkbox" class="custom-control-input" th:id="'course'+${course.id}"
                       name="courses" th:value="${course.id}"/>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"
                      th:text="${course.englishName}">Here will be the list of courses...</span>
            </label>
        </div>
        <br/>
        <button type="submit" class="btn btn-dark">Submit sign up</button>
    </form>
</div>
</body>
</html>