<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Requests</title>

    <!--Import Bootstrap-->
    <meta name="viewport" learningContent="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div th:replace="fragments/header::administrator-header">Here will be the header</div>

<div class="container">
    <h3 th:if="${course == null}">No course found</h3>
    <div th:object="${course}" th:if="${course != null}">
        <h3 th:text="'Requests for ' + ${course.englishName}">Requests
            for &lt;course name&gt;</h3>
        <div style="width:50%;" align="center">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Student</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${requestsLists == null || requestsLists.empty}">
                    <td colspan="2">No Request</td>
                </tr>
                <tr th:unless="${requestsLists == null || requestsLists.empty}" th:each="request : ${requestsLists}">
                    <td th:text="${request.student.firstName} + ' ' + ${request.student.lastName}">Student name...</td>
                    <td>
                        <div class="form-inline">
                            <form th:action="@{/administrator/request/approve}" method="post">
                                <input hidden="hidden" th:value="${request.id}" name="requestId"/>
                                <button type="submit" class="btn btn-success">Approve</button>
                            </form>
                            <form th:action="@{/administrator/request/reject}" method="post">
                                <input hidden="hidden" th:value="${request.id}" name="requestId"/>
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>